@import url('https://fonts.googleapis.com/css?family=Raleway:400i,700i&display=swap');
:root {
  --darkblue: #0074C0;
  --midblue: #33ACF5;
  --lightblue: #E5F4FD;
  --yellow: #FFDD92;
  --orange: #FBDEC8;
  --lightgrey: #F7F9FA;
  --rt--light: 'rt_ralewaylight', sans-serif;
  --rt--regular: 'rt_ralewayregular', sans-serif;
  --rt--medium: 'rt_ralewaymedium', sans-serif;
  --rt--semi: 'rt_ralewaysemibold', sans-serif;
  --rt--bold: 'rt_ralewaybold', sans-serif;
  --rt--extra: 'rt_ralewayextrabold', sans-serif;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

/*Typography*/
h1, h2, h3, h4, h5, h6, p, em, body, html, input, textarea, strong {
    padding: 0;
    margin: 0;
    font-kerning: normal;
}
h1, h2, h3, h4 {
  text-align: center;
}
h1 {
  font-family: var(--rt--bold);
  font-size: calc(62px + (155 - 62) * ((99vw - 700px) / (1900 - 700)));
  letter-spacing: 3px;
	line-height: 1.1em;
}
h2 {
  font-family: var(--rt--extra);
  font-size: calc(60px + (110 - 60) * ((99vw - 700px) / (1900 - 700)));
  letter-spacing: 1px;
}
h3 {
  	font-family: var(--rt--medium);
  	font-size: calc(50px + (72 - 50) * ((100vw - 300px) / (1900 - 300)));
	letter-spacing: .15rem;
}
h4 {
  font-family: var(--rt--medium);
  font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1900 - 300)));
  font-style: normal;
  letter-spacing: 2px;
}
h5 {
	font-family:var(--rt--regular);
	font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1900 - 300)));
}
p {
  font-family: var(--rt--regular);
  font-size: 18px;
  letter-spacing: .11rem;
  font-style: normal;
  line-height: 36px;
}
h5 {
  font-family: var(--rt--medium);
}
h6 {
  font-family: var(--rt--regular);
  color: black;
  font-size: 15px;
  font-style: italic;
}
ul, ul li {
  font-family: var(--rt--regular);
  font-size: 19px;
  line-height: 32px;
  list-style: none;
  list-style-type: none;
}
span {
  font-family: var(--rt--semi);
}
a {
  font-family: var(--rt--medium);
  text-decoration: none;
}

/*Universal*/
html, body {
    margin: 0;
    padding: 0;
}
.inline {
    display: inline-block;
}
.flex-v, .flex-v[class*="span"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}
.flex-h, .flex-h[class*="span"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    resize: horizontal;
}
.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.transition {
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15;
  -ms-transition: all .15s;
  transition: all .15s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
}

/*Responsive*/
@media screen and (max-width: 1920px) { 

}
@media screen and (max-width: 1550px) {
    
}
@media screen and (max-width: 1250px) {
  
}
@media screen and (max-width: 1150px) {

}
@media screen and (max-width: 1024px) {
  h2 {
    line-height: 3.5rem;
  }
  h3 {
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 950px) {
    
}
@media screen and (max-width: 825px) {
  
}
@media screen and (max-width: 770px) {

}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 52px;
    letter-spacing: 0;
    word-break: break-word; 
  }
  h4 {
    font-size: 20px; 
  }
  p {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  
}
@media screen and (max-width: 450px) {
    
}
@media screen and (max-width: 400px) {
    
}
@media screen and (max-width: 350px) {

}