*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
}
html, body {
    margin: 0;
    padding: 0;
}
.inline {
    display: inline-block;
}
.flex-v, .flex-v[class*="span"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}
.flex-h, .flex-h[class*="span"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    resize: horizontal;
}
.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.transition {
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15;
  -ms-transition: all .15s;
  transition: all .15s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
}
.hide {
	display: none;
	visibility: hidden;
}