#mobile-menu {
  background: #839694;
}
#mobile-menu .thb-mobile-menu .nav-link-mask .nav-link-mask-text {
  color: #e0eceb;
}
#mobile-menu .mobile-menu-top .thb-mobile-menu a {
  font-family: var(--rt-bold);
  font-size: 92px;
}
#mobile-menu .mobile-menu-top .thb-mobile-menu a .nav-link-mask .nav-link-mask-text {
  display: none;
}
#mobile-menu .mobile-menu-top .thb-mobile-menu a:hover {
  opacity: 0.75;
}
#mobile-menu .mobile-menu-top .thb-mobile-menu a:hover .nav-link-mask .nav-link-mask-text {
  display: none;
}
#mobile-menu .thb-secondary-menu li {
  position: relative;
  overflow: inherit;
  vertical-align: bottom;
}
#mobile-menu .thb-secondary-menu li a:hover {
  margin-bottom: auto;
  height: 30px;
  padding-bottom: 15px;
  will-change: auto;
}
#mobile-menu .thb-secondary-menu li a:hover:before {
  position: absolute;
  width: 1px;
  height: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
}
#mobile-menu #mobile-menu.style2 .menu-footer {
  margin-bottom: 10px;
}
.footer {
  position: relative;
  min-height: 60vh;
}
.footer .footer__main {
  width: 35%;
  margin: 0 auto;
  position: fixed;
  bottom: 26%;
  left: 0;
  right: 0;
}
.footer .footer__main .textwidget {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  resize: horizontal;
}
.footer .footer__main a {
  width: auto;
  height: 100%;
  margin: 0 auto;
  align-self: flex-end;
}
.footer .footer__main a img {
  max-width: 40px;
  max-height: 40px;
  vertical-align: bottom;
  opacity: 0.9;
}
.footer .footer__main a img:hover {
  opacity: 1;
}
.footer .footer__sub {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.footer .footer__sub p {
  text-align: center;
}
