$lg: rgba(131, 150, 148, 0.125);
$gr: #839694;
$sb: #4d4845;
$db: #887F79;
$lb: #ACA9A1;
$b:  #202020;
:root {
	--lightgreen: $lg;
	--green:      $gr;
	--superbrown: $sb;
	--darkbrown:  $db;
	--lightbrown: $lb;
	--black:      $b;
}